<div class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
  
    <vex-widget-quick-value-center [change]="124.4"
                                   icon="mat:group"
                                   iconClass="text-primary bg-primary/10"
                                   label="Users"
                                   value="67.4k">
    </vex-widget-quick-value-center>

    <vex-widget-quick-value-center [change]="-23.7"
                                   icon="mat:compare_arrows"
                                   iconClass="text-orange bg-orange/10"
                                   label="Transactions"
                                   value="96.2k">
    </vex-widget-quick-value-center>
  
</div>
  